In [6]:
import pandas as pd 
df=pd.read_csv(r"C:\Users\user\study_marks.csv")
df

   Study_Hours  Marks
0          2.9   27.0
1          5.8   61.0
2          4.7   45.0
3          4.0   38.0
4          1.8   19.0
5          1.8    8.0
6          1.3    4.0
7          5.3   50.0
8          4.0   35.0
9          4.5   47.0

In [7]:
df.max()

Study_Hours     5.8
Marks          61.0
dtype: float64

In [8]:
df.min()

Study_Hours    1.3
Marks          4.0
dtype: float64

In [9]:
df["Marks"].mean()

np.float64(33.4)

In [10]:
df["Marks"].mode()

0     4.0
1     8.0
2    19.0
3    27.0
4    35.0
5    38.0
6    45.0
7    47.0
8    50.0
9    61.0
Name: Marks, dtype: float64

In [11]:
df["Marks"].median()

np.float64(36.5)

In [12]:
df["Marks"].var()

np.float64(348.7111111111111)

In [13]:
df["Marks"].std()

np.float64(18.673808157714138)

In [15]:
df["Marks"].cov(df["Study_Hours"])

np.float64(28.906666666666663)